@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: hsl(212, 45%, 89%);
    font-family: Outfit;
}

/* container for qr code img, h1 header and paragraph elements */

.container{
    width: 320px;
    height: 497px;
    margin: 50px auto;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;    
}

/* qr core image  */
img{
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 16px;
}


h1{
    padding: 8px 16px;
    color: #1F314F;
    ;
    font-size: 22px;
    font-weight: 700;

}

p{
    padding: 8px 32px;
    color: #7D889E;
    font-size: 15px;
    font-weight: 400;
}
